<style>
  .empty {
    border-bottom: 12px dashed #FFD000;
    width:100%;
    margin-left: 1.6rem;
  }
  .breadcrumbs {
    margin: 0 0 2em;
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
  }

  .breadcrumbs__item {
    display: inline-block;
    white-space: nowrap;
  }

  .breadcrumbs__item:not(:last-child):not(:nth-last-of-type(2)):after {
    border-width: .10em .10em 0 0;
    content: "/";
    display: inline-block;
    height: .50em;
    margin: 0 .30em;
    position: relative;
    width: .50em;
    color: white;
  }

  .breadcrumbs__link {
    color: white;
    text-decoration: none;
    font-size: clamp(1.6rem, 0.8182rem + 0.9091vw, 2.4rem);
  }

  .breadcrumbs__link[aria-current="page"] {
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current="page"]:hover,
  .breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
    cursor: pointer;
  }
</style>


<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a href="{{ routes.root_url }}" class="breadcrumbs__link">Home</a>
    </li>

    {% if template contains 'collection' and collection %}
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link" aria-current="page">{{ collection.title }}</span>
      </li>

    {% elsif template contains 'product' and product %}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.collections_url }}/games">Games</a>
      </li>

      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link" aria-current="page">{{ product.title }}</span>
      </li>

    {% elsif template contains 'blog' and blog %}
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link" aria-current="page">{{ blog.title }}</span>
      </li>

    {% elsif template contains 'article' and article and blog %}
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ blog.url }}">{{ blog.title }}</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link" aria-current="page">{{ article.title }}</span>
      </li>

    {% elsif template contains 'page' and page %}
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__link" aria-current="page">{{ page.title }}</span>
      </li>
    {% endif %}
  <li class="empty"></li>
  </ol>
</nav>
