{% doc %}
  Renders a button with text and a colour.

  @example
  {% content_for 'block', type: 'text', id: 'text' %}
{% enddoc %}

<a href="{{ block.settings.custom_button_url }}" class="button-custom {{ block.settings.text_style }}" 
    style="background-color: {{ block.settings.custom_button_colour }}"
    {{ block.shopify_attributes }}
>
  {{ block.settings.custom_button_text }}
</a>

{% stylesheet %}
  .button-custom {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Custom Button",
  "settings": [
    {
      "type": "text",
      "id": "custom_button_text",
      "label": "Text",
      "default": "Text"
    },
    {
      "type": "color",
      "id": "custom_button_colour",
      "label": "Colour",
      "default": "#000000"
    },
    {
      "type": "url",
      "id": "custom_button_url",
      "label": "Link"
    }
  ],
  "presets": [{ "name": "Button" }]
}
{% endschema %}
