{% doc %}
    Renders a heading with options for text content, text colour, font weight, optional link and heading number
{% enddoc %}

{% if block.settings.heading_url != blank%} 

<a 
    href="{{ block.settings.heading_url }}"  
    style="color: {{ block.settings.heading_color }};"   
    {% if block.settings.open_in_new_tab == true %}
        target="_blank"
    {% endif %}>

    <{{ block.settings.heading_size }} 
        class="{{ block.settings.heading_font_weight }}"
    > 
        {{ block.settings.heading_text }} 
    </{{ block.settings.heading_size }}>
</a>  

{% else %}
    <{{ block.settings.heading_size }} 
        class="{{ block.settings.heading_font_weight }}"
        style="color: {{ block.settings.heading_color }};"
    > 
        {{ block.settings.heading_text }} 
    </{{ block.settings.heading_size }}>
{% endif %}


{% stylesheet %} 
    .fw-100 {
        font-weight: 100;
    }
    .fw-200 {
        font-weight: 200;
    }
    .fw-300 {
        font-weight: 300;
    }
    .fw-400 {
        font-weight: 400;
    }
    .fw-500 {
        font-weight: 500;
    }
    .fw-600 {
        font-weight: 600;
    }
    .fw-700 {
        font-weight: 700;
    }
    .fw-800 {
        font-weight: 800;
    }
    .fw-900 {
        font-weight: 900;
    }
{% endstylesheet %} 

{% schema %}  
    {
        "name": "Heading",
        "settings": [
            {
                "type": "text",
                "id": "heading_text",
                "label": "Text",
                "default": "Heading"
            },
            {
                "type": "select",
                "id": "heading_size",
                "label": "Size",
                "options": [
                    {
                        "label": "Heading 1",
                        "value": "h1"
                    },
                    {
                        "label": "Heading 2",
                        "value": "h2"
                    },
                    {
                        "label": "Heading 3",
                        "value": "h3"
                    },
                    {
                        "label": "Heading 4",
                        "value": "h4"
                    },
                    {
                        "label": "Heading 5",
                        "value": "h5"
                    },
                    {
                        "label": "Heading 6",
                        "value": "h6"
                    }
                ],
                "default": "Heading 2"
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Colour",
                "default": "#000"
            },
            {
                "type": "select",
                "id": "heading_font_weight",
                "label": "Font Weight",
                "options": [
                    {
                        "label": "100",
                        "value": "fw-100"
                    },
                    {
                        "label": "200",
                        "value": "fw-200"
                    },
                    {
                        "label": "300",
                        "value": "fw-300"
                    },
                    {
                        "label": "400",
                        "value": "fw-400"
                    },
                    {
                        "label": "500",
                        "value": "fw-500"
                    },
                    {
                        "label": "600",
                        "value": "fw-600"
                    },
                    {
                        "label": "700",
                        "value": "fw-700"
                    },
                    {
                        "label": "800",
                        "value": "fw-800"
                    },
                    {
                        "label": "900",
                        "value": "fw-900"
                    },
                ],
                "default": "400"
            },
            {
                "type": "checkbox",
                "id": "url_options",
                "label": "Add Link",
                "default": false
            },
            {
                "type": "url",
                "id": "heading_url",
                "label": "Link",
                "visible_if": "{{ block.settings.url_options == true }}"
            },
            {
                "type": "checkbox",
                "id": "open_in_new_tab",
                "label": "Open in New Tab",
                "visible_if": "{{ block.settings.url_options == true }}",
                "default": true
            }
        ],
        "presets": [
            {
                "name": "Heading"
            }
        ]
    }
    
{% endschema %}