{% doc %}
  Outputs a Logo with a heading
{% enddoc %}

<div class="logo-heading">
    <img src="{{block.settings.logo_image}}" alt="{{block.settings.alt_text}}" width="32" height="32">
    <{{ block.settings.size }}><a href="#" style="color:{{block.settings.text_colour}}" {{ block.shopify_attributes }}> {{ block.settings.logo_text }} </a> </{{ block.settings.size }}>
</div>

{% stylesheet %}
    .logo-heading {
        display: flex;
    }
    .logo {
        max-width: 2rem;
    }
{% endstylesheet %}

{% schema %}
{
    "name": "Logo Heading",
    "settings": [
        {
            "type": "text",
            "id": "logo_text",
            "label": "Text",
            "default": "Text"
        },
        {
            "type": "select",
            "id": "size",
            "label": "Size",
            "options": [
                {
                    "value": "h1",
                    "label": "Heading 1"
                },
                {
                    "value": "h2",
                    "label": "Heading 2"
                },
                {
                    "value": "h3",
                    "label": "Heading 3"
                },
                {
                    "value": "h4",
                    "label": "Heading 4"
                }
            ]
        },
        {
            "type": "color",
            "id": "text_colour",
            "label": "Colour",
            "default": "#000000"
        },
        {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo Image"
        },
        {
            "type": "text",
            "id": "alt_text",
            "label": "Image Alternative Text"
        }
    ],
    "presets": [{ "name": "Logo Heading" }]
}
{% endschema %}