{% doc %}
  Outputs a Logo with a heading
{% enddoc %}

<div class="logo-heading">
    <a class="logo-heading" href="{{  routes.root_url }}" style="color:{{block.settings.text_colour}}" {{ block.shopify_attributes }}>
    {% if block.settings.logo_image %}
    <img style="max-width:{{ block.settings.logo_size }}" src="{{ block.settings.logo_image | image_url: width: 300 }}" alt="{{block.settings.alt_text}}" width="{{ block.settings.logo_size }}" height="{{ block.settings.logo_size }}" {{ block.shopify_attributes }}>
    {% endif %}
    <{{ block.settings.size }}> {{ block.settings.logo_text }} </{{ block.settings.size }}> </a> 
</div>

{% stylesheet %}
    .logo-heading {
        display: flex;
        align-items: center;
    }
    .logo {
        max-width: 2rem;
    }
{% endstylesheet %}

{% schema %}
{
    "name": "Logo Heading",
    "settings": [
        {
            "type": "text",
            "id": "logo_text",
            "label": "Text",
            "default": "Text"
        },
        {
            "type": "select",
            "id": "size",
            "label": "Size",
            "options": [
                {
                    "value": "h1",
                    "label": "Heading 1"
                },
                {
                    "value": "h2",
                    "label": "Heading 2"
                },
                {
                    "value": "h3",
                    "label": "Heading 3"
                },
                {
                    "value": "h4",
                    "label": "Heading 4"
                }
            ],
            "default":"h2"
        },
        {
            "type": "color",
            "id": "text_colour",
            "label": "Colour",
            "default": "#000000"
        },
        {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo Image"
        },
        {
            "type": "text",
            "id": "alt_text",
            "label": "Image Alternative Text"
        },
        {
            "type": "range",
            "id": "logo_size",
            "label": "Logo Size",
            "default": 36,
            "min": 0,
            "max": 100
        }
    ],
    "presets": [{ "name": "Logo Heading" }]
}
{% endschema %}