<header>
  <h2 class="header__title">
    {% for block in section.blocks %}
      {% if block.type == 'logo_heading' %}
        {%  content_for 'block', type: 'logo-heading', id: '{{block.id}}' %}
      {% endif %}
      {% endfor %}
  </h2>

  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons">
    <a href="{{ routes.search_url }}" aria-label="Search" class="header__icon">
  {{ 'icon-search.svg' | inline_asset_content }}
</a>

   <button type="button" class="header__icon" aria-label="Menu">
    {{ 'icon-hamburger.svg' | inline_asset_content }}
  </button>
  </div>
</header>

{% stylesheet %}
  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  
  .header_svg {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
  header button.header__icon {
    width: 2rem;
    height: 2rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-items: center;
}
header .header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

  @media screen and (max-width: 749px) {
  header .header__menu { display: none; }
}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
