<header>
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons">
    <a href="{{ routes.search_url }}" aria-label="Search" class="header__icon">
  {{ 'icon-search.svg' | inline_asset_content }}
</a>

   <button type="button" class="header__icon" aria-label="Menu">
    {{ 'icon-hamburger.svg' | inline_asset_content }}
  </button>
  </div>
</header>

{% stylesheet %}
  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  
  .header_svg {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }
  header button.header__icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-items: center;
}
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
