<section class="page-width">
    <div class="social-media">
        {% for block in section.blocks %}
        {% if block.type == 'latest_socials_heading' %}
                <h2>{{ block.settings.heading }}</h2>
        {% endif %}
        {% endfor %}

        {% render 'social-icons', class: 'latest-posts-social-links' %}
    </div>
</section>

{% style %}
    .social-media {
        text-align: {{ section.settings.text_align }};
        background-color: #001F45;
        padding: {{ section.settings.padding }} 0 !important;
        margin: {{ section.settings.margin }} 0 !important;
    }

    .social-media ul {
        margin: 0 auto;
        justify-content: {{ section.settings.text_align }};
    }

    .latest-posts-social-links .list-social__link svg {
        width: 6.4rem;
    }

    .latest-posts-social-links .list-social__link {
        color: white !important;
        fill: white !important;
        width: 6.4rem;
        height: 6.4rem;
    }

    .latest-posts-social-links .list-social__link path {
        color: white !important;
        fill: white !important;
    }
{% endstyle %}



{% schema %}
{
    "name": "Social Media",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text Alignment",
            "options": [
                {
                    "label": "Left",
                    "value": "left"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "right"
                }
            ],
            "default": "center"
        },
        {
            "type": "range",
            "id": "padding",
            "label": "Padding",
            "min": 0,
            "max": 200,
            "default": 20,
            "step": 2,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "margin",
            "label": "Margin",
            "min": 0,
            "max": 200,
            "default": 20,
            "step": 2,
            "unit": "px"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "latest_socials_heading",
            "name": "Heading",
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Find More on Our Socials"
                }
            ]
        },
        {
            "type": "social-image",
            "name": "Social Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "social-image",
                    "label": "Social Image",
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Social Media Icon Links"
        }
    ]
}

{% endschema %}