{% comment %} Div Background Styling {% endcomment %}
{% if section.settings.show_background_color %}
  {% style %}
    .about-page-grid section {
        background-color: {{ section.settings.background_color }};
        border-radius: {{ section.settings.border_radius }}%;
    }
  {% endstyle %}
{% endif %}

{% style %}
    .about-page-grid {
        margin: 6.4rem 0 0;
    }

    .map-background {
        padding: 6.4rem 1.6rem;
        margin: 6.4rem 0;
        background-color: #001F45;
    }

    .address-background {
        margin: 6.4rem 0;
    }

    address {
        color: white;
        margin-left: 1.6rem;
        max-width: 18ch;
        font-size: 1.6rem;
    }

    .right-address h4 {
        min-width: 8ch;
    }

    .right-address {
        display: flex;
        align-items: flex-start;
        margin-top: 3.2rem;
    }

    .hours-table {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid #878787;
        text-align: center;
    }

    .hours-table td {
        color: white;
        padding: 1rem;
    }

    .hours-table tr:nth-of-type(even) {
        background-color: #457B9D;
    }
    
    .hours-table tr:nth-of-type(odd) {
        background-color: #010F20;
    }

    p {
      margin: 1.6rem 0;
    }

    @media screen and (min-width: 900px) {
      .about-page-grid section {
        padding: {{ section.settings.padding }}px;
        margin: {{ section.settings.margin }}px;
      }

      .about-page-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 12.8rem;
      }

    .about-page-grid section:nth-of-type(odd) {
        margin-left: 6.4rem;
    }

    .about-page-grid section:nth-of-type(even) {
        margin-right: 6.4rem;
    }

    .about-page-grid section {
        grid-column: span 1;
    }

    .map-background {
        grid-row: span 2;
    }

    .about-page-grid .address-background {
        grid-column: span 1;
    }

    .maps-embed {
        max-width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }

    .map {
        position: relative;
        flex: 1;
    }

    .map-background {
        display: flex;
        flex-direction: column;
    }

    address {
        color: white;
        margin-left: 1.6rem;
        max-width: 400ch;
        padding-top: 1.3rem;
    }

    .hours-background,
    .address-background {
      background-color: #001F45;
    }
  }

  @media screen and (min-width: 1600px) {
      .about-page-grid {
        max-width: 1600px;
        margin: 6.4rem auto;
      }
{% endstyle %}

<div class="about-page-grid">
  <section class="page-width hours-background">
    {% if section.settings.show_hours_heading %}
      <h3>{{ section.settings.hours_heading }}</h3>
    {% endif %}
    {% if section.settings.show_hours_content %}
      <p>{{ section.settings.hours_content }}</p>
    {% endif %}
    <table class="hours-table">
      <tbody>
        <tr>
          <td>Monday</td>
          <td>{{ section.settings.monday_hours }}</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>{{ section.settings.tuesday_hours }}</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>{{ section.settings.wednesday_hours }}</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>{{ section.settings.thursday_hours }}</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>{{ section.settings.friday_hours }}</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>{{ section.settings.saturday_hours }}</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>{{ section.settings.sunday_hours }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="map-background">
    <h3>Map</h3>
    <p>
      Located in downtown Edmonton with easy access to public transit and nearby parking. Use the map for quick
      directions to our store.
    </p>
    <div class="map">
      <iframe
        class="maps-embed"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2369.2874571240977!2d-113.50208182370365!3d53.57048615792967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a023a6accd07ff%3A0x73960089c48325ff!2sNexWave%20Video%20Games!5e0!3m2!1sen!2sca!4v1771879778573!5m2!1sen!2sca"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>
  <section class="page-width address-background">
    <div class="left-address">
      <h3>Address</h3>
      <p>{{ section.settings.address_text }}</p>
    </div>
    <div class="right-address">
      <h4>Find Us:</h4>
      <address>10402 118 Ave NW, Edmonton, AB T5G 2N1</address>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Store Hours",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_hours_heading",
      "label": "Show Heading",
      "default": true
    },
    {
      "type": "text",
      "id": "hours_heading",
      "label": "Heading",
      "visible_if": "{{ section.settings.show_hours_heading == true}}"
    },
    {
      "type": "checkbox",
      "id": "show_hours_content",
      "label": "Show Content",
      "default": true
    },
    {
      "type": "text",
      "id": "hours_content",
      "label": "Hours Content",
      "visible_if": "{{ section.settings.show_hours_content == true }}"
    },
    {
      "type": "text",
      "id": "monday_hours",
      "label": "Monday",
      "default": "Closed"
    },
    {
      "type": "text",
      "id": "tuesday_hours",
      "label": "Tuesday",
      "default": "Closed"
    },
    {
      "type": "text",
      "id": "wednesday_hours",
      "label": "Wednesday",
      "default": "Closed"
    },
    {
      "type": "text",
      "id": "thursday_hours",
      "label": "Thursday",
      "default": "Closed"
    },
    {
      "type": "text",
      "id": "friday_hours",
      "label": "Friday",
      "default": "Closed"
    },
    {
      "type": "text",
      "id": "saturday_hours",
      "label": "Saturday",
      "default": "Closed"
    },
    {
      "type": "text",
      "id": "sunday_hours",
      "label": "Sunday",
      "default": "Closed"
    },
    {
      "type": "text",
      "id": "address",
      "label": "Address"
    },
    {
      "type": "checkbox",
      "id": "show_background_color",
      "label": "Add Background Colour",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Colour",
      "visible_if": "{{section.settings.show_background_color}}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border Radius",
      "visible_if": "{{section.settings.show_background_color}}",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding",
      "default": 32,
      "min": 0,
      "max": 200,
      "step": 2
    },
    {
      "type": "range",
      "id": "margin",
      "label": "Margin",
      "default": 32,
      "min": 0,
      "max": 200,
      "step": 2
    },
    {
      "type": "text",
      "id": "address_text",
      "label": "Address Content",
      "default": "Text Here"
    }
  ],
  "presets": [
    {
      "name": "Store Hours"
    }
  ]
}
{% endschema %}
